@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: 100%;
    background-color: white;
    max-width: 1440px;
    margin: 0;
    background-image: url(./pics/fine\ arts.png);
    position: relative;
 width: 1440px;
 height: 1024px;
}

/*Header*/
header{
    display: flex; 
}
    .logo{
        position: absolute;
        width: 666px;
        height: 455px;
        left: -78px;
        top: -136px;
        background: url(./index.html/pics/logo\ bbb\ \ 1.png);
    }


    #nav{
        margin-left: 200px;
        margin-top: 30px;
        font-family: 'Fira Sans Condensed';
       font-style: normal;
       font-weight: 400;
       font-size: 32px;  
       top: 18px; 
    }
        #nav li{
            display: inline;
            
        }
        #nav a{
            text-decoration: none;
            color: black;
            margin: 0px 90px;
        }
        #GALLERY a{
            color: rgba(34, 104, 169, 1)
        }

#FA1{
    box-sizing: border-box;
    position: absolute;
    width: 264px;
    height: 352px;
    left: 355px;
    top: 219px;
    background: url(./pics/FA1.png);
    border: 1px solid #000000;
    border-radius: 10px; 
}
#FA2{
 box-sizing: border-box;
 position: absolute;
 width: 264px;
 height: 352px;
 left: 695px;
 top: 219px;
 background: url(./pics/FA2.png);
 border: 1px solid #000000;
 border-radius: 10px;
}
#FA3{
 position: absolute;
 width: 264px;
 height: 352px;
 left: 1050px;
 top: 219px;
 background: url(./pics/FA3.png);
 border-radius: 10px;
}
#FA4{
 position: absolute;
 width: 262px;
 height: 301px;
 left: 488px;
 top: 625px;
 background: url(./pics/FA4.png);
 border-radius: 10px;
}
#FA5{
 position: absolute;
 width: 262px;
 height: 301px;
 left: 885px;
 top: 625px;
 background: url(./pics/FA5.png);
 border-radius: 10px;
}

#vector1{
    position: absolute;
    left: 92.85%;
    right: 5.83%;
    top: 85.64%;
    bottom: 9.57%;
}

#vector{
    position: absolute;
    left: 11.56%;
    right: 87.12%;
    top: 90.43%;
    bottom: 4.79%;      
}