@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: 100%;
    background-color: white;
    max-width: 1440px;
    margin: 0;
    background-image: url(./pics/photography2.png);
    position: relative;
    width: 1440px;
    height: 1024px;
}

/*Header*/
header{
    display: flex; 
}
    .logo{
        position: absolute;
        width: 666px;
        height: 455px;
        left: -78px;
        top: -136px;
        background: url(./index.html/pics/logo\ bbb\ \ 1.png);
    }


    #nav{
        margin-left: 200px;
        margin-top: 30px;
        font-family: 'Fira Sans Condensed';
       font-style: normal;
       font-weight: 400;
       font-size: 32px;  
       top: 18px; 
    }
        #nav li{
            display: inline;
            
        }
        #nav a{
            text-decoration: none;
            color: black;
            margin: 0px 90px;
        }
        #GALLERY a{
            color: rgba(34, 104, 169, 1)
        }

#photo2{
 position: absolute;
 width: 578.99px;
 height: 757.59px;
 left: 383.85px;
 top: 200px;
 background: url(./pics/photo2.png);
 border-radius: 10px;
}

#vector1{
    position: absolute;
    left: 96.04%;
    right: 2.64%;
    top: 70.21%;
    bottom: 25%;
}

#vector{
    position: absolute;
    left: 6.21%;
    right: 92.47%;
    top: 75%;
    bottom: 20.22%;    
}